
.container {
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    margin-right: 95px;
    margin-left: 95px;
    margin-top: 68px;
    margin-bottom: 68px;
    font-family: "Open Sans";
}

.div1,
.div2 {
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
}

.p1 {
    width: 250px;
    height: 45px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #396a80;
    font-weight: 400;
    text-align: center;
    padding: 15px;
}

.icon {
    display: flex;
    margin: 30px;
}

.icon1 {
    height: 50px;
    margin-left: 40%;
}

.col {
    width: 138px;
    height: 301px;
    border-radius: 16px;
    background-color: #F3FAFC;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.logo,
.th {
    border-radius: 16px;
    background-color: #e06a26;
}

.th1 {
    width: 60%;
    text-align: left;
}

.th {
    width: 124px;
    height: 32px;
    border-radius: 16px;
    background-color: #b7cece;
    line-height: 24px;
    color: #23273f;
    text-align: center;
}

.td {
    font-size: 16px;
    color: #434a56;
}

i {
    color: #e06a26;
}

.i1 {
    color: #b8b2b2;
}

span {
    font-size: 16px;
}

.div3 {
    margin-top: 50px;
    font-size: 24px;
    letter-spacing: 1px;
    color: #23273f;
    font-weight: 700;
}

.boxp {
    padding: 2%;
    font-size: 24px;
    letter-spacing: 1px;
    color: #23273f;
    font-weight: 700;
}

.icon2 {
    height: 50px;
    padding-left: 70%;
}

.p2 {
    margin-left: 50%;
    width: 185px;
    height: 50px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #434a56;
    font-weight: 700;
    text-align: center;
}

.p3, .p4, .p5 {
    padding-left: 35%;
    height: 91px;
    color: #396a80;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0px;
    line-height: 24px;
}

.p3 {
    width: 250px;
}

.p4, .p5 {
    width: 320px;
}

.arrows {
    margin-left: 5%;
    padding-bottom: 3%;
    /*font-size: 16px;*/
    /*letter-spacing: 0px;*/
    /*line-height: 24px;*/
    color: #101010;
    font-weight: 400;
    /*font-family: "Open Sans";*/
    /*text-align: left;*/
}

.div4{
    display: flex;
}
.div4>.img{
    margin-left: 9%;
    margin-top: 5%;
}

div>.div4p{
    margin-top: 10%;
    margin-left: 2%;
    width: 764px;
    height: 62px;
    font-size: 26px;
    letter-spacing: 1px;
    color: #396a80;
    font-weight: 700;
    /*font-family: "Open Sans";*/
}

.button{
    margin-top: 5%;
    margin-left: 3%;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 800;
    color: white;
    border: none;
    width: 185px;
    height: 51px;
    border-radius: 25px;
    background-color: #f7944b;
}

