/* all */

@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root {
    --main-blue: #71b7e6;
    --main-purple: #9b59b6;
    --main-grey: #ccc;
    --sub-grey: #d9d9d9;
}

.body_regis {
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    /*center vertically */
    align-items: center;
    /* center horizontally */
    padding: 10px;
}

/* container and form */
.container_regis {
    max-width: 700px;
    width: 100%;
    background: rgb(245, 245, 245);
    padding: 25px 30px;
    border-radius: 5px;
}

.container_regis .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-top: 15px;
}


.contcontainer_regisainer .title::before {
    content: "";
    position: absolute;
    height: 3.5px;
    width: 30px;
    background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
    left: 0;
    bottom: 0;
}

.container form .user__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.message-body {
    background: #d9d9d9;
    padding: 6px;
}

/* inside the form user details */
form .user__details .input__box {
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.user__details .input__box .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.user__details .input__box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--main-grey);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user__details .input__box input:focus,
.user__details .input__box input:valid {
    border-color: var(--main-purple);
}

/* inside the form gender details */

form .gender__details .gender__title {
    font-size: 20px;
    font-weight: 500;
}

form .gender__details .category {
    display: flex;
    width: 80%;
    margin: 15px 0;
    justify-content: space-between;
}

/* .gender__details .category label {
    display: flex;
    align-items: center;
} */

.gender__details .category .dot {
    height: 18px;
    width: 18px;
    background: var(--sub-grey);
    border-radius: 50%;
    margin: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category .one,
#dot-2:checked~.category .two,
#dot-3:checked~.category .three {
    border-color: var(--sub-grey);
    background: var(--main-purple);
}

form input[type="radio"] {
    display: none;
}

/* submit button */
form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
    transition: all 0.3s ease;
}

form .button input:hover {
    background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}

@media only screen and (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user__details .input__box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender__details .category {
        width: 100%;
    }

    .container form .user__details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user__details::-webkit-scrollbar {
        width: 0;
    }
}

.selecttag {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--main-grey);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.error {
    padding: 3px 0px 0px 10px;
    display: none;
    color: red;
}


input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #E6E6E6;
    padding: 12px 19px;
    color: #000;
    cursor: pointer;
    transition: background .2s ease-in-out;
    position: relative;
    right: 20px;
}

input[type=file]::file-selector-button:hover {
    background: #555;
    color: #fff;
}

.radio-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="radio"] {
    display: none;
}

.toggler {
    margin: 2px;
    width: 4%;
    height: 18px;
}

.pass_show {
    cursor: pointer;
}

.close {
    vertical-align: middle;
    border: none;
    color: inherit;
    border-radius: 50%;
    background: transparent;
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 0.6;
}

.close:focus,
.close:hover {
    opacity: 1;
    background: rgba(128, 128, 128, 0.5);
}

.close:active {
    background: rgba(128, 128, 128, 0.9);
}

/* tines of the X */
.close::before,
.close::after {
    content: " ";
    position: absolute;
    top: 15px;
    height: 20px;
    width: 4px;
    background-color: currentColor;
    left: 17px;
}

.close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.col_se {
    justify-content: end;
    display: flex;
    padding-bottom: 20px;
    color: #000;
}